    <div class="jumbotron" style="background-color: #d40428;">
        <br>


    <div class="form-group">
                <h1 style="color:white;">{{message}}</h1>
        
    </div>
     <button onclick="window.location.href = '/login'" class="btn btn-success mt-3 mb-5">Volver</button>
    </div>