<div class="container mt-3">
    <div class="jumbotron" style="min-height: 20vh !important">
        <h1 style="color:blue; float: left;">Hasta Luego {{nombreSesion}}</h1>
    </div>
</div>

<script>
    setTimeout(function(){
        window.location.href = "/login"
        } , 2000)
</script>

