{{message}}
<form  action="/register" method="post">
    <div class="jumbotron" >
        <h1 style="color:blue;">Registro de Usuario</h1>
        <br>


    <div class="form-group">
        <input id="username" class="form-control" type="text" name="username" required>
        <input id="password" class="form-control" type="text" name="password" required>        
        
    </div>

    {{!-- <button onclick="window.location='../index.html'" class="btn btn-success mt-3 mb-5" id="btnLogin">Enviar</button> --}}

    {{!-- <button class="btn btn-success mt-3 mb-5" id="btnLogin">Enviar</button> --}}
     <input class="btn btn-success mt-3 mb-5" type="submit" value="Register"/>

     <button onclick="window.location.href = '/login'" class="btn btn-success mt-3 mb-5">Ir a Login</button>
    </div>
</form>